body {
	font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
	color: #404040;
	background: #C1E1A6;
}

.log {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}

.log thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

.log th {
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
}

#description {
	width: 330px;
	height: 100px;
}